<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Select User</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="CSS/styleselect.css">
</head>
<body>
    <div class="container px-4 py-5 px-md-5">
        <div class="head lg-5 mb-5">
            <h1>Who Are You ?</h1>
        </div>
        <div class="card">
            <div class="card-body mb-3">
              <div class="back">
                <div id="buttons">
                    <a href="/game" class="btn button">Player</a>
                    <a href="/home" class="btn button">Admin</a>
                </div>
                  <div class="text-center">
              </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>