<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" 
    integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" 
    crossorigin="anonymous">
    <link rel="stylesheet" href="css/styletabel.css">
    <title>Dashboard</title>
</head>
<body>
    <main id="site-main">
        <div class="container mt-5">
            <div class="box-nav d-flex justify-between">
                <a href="/admin" class="border-shadow">
                    <button type="submit" class="btn btn-primary" name="simpan">NEW USER</button>
                </a>
            </div>
            <br>
            <br>
            <!-- form handling -->
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th>Kode User</th>
                            <th>Nama</th>
                            <th>Tgl Lahir</th>
                            <th>Alamat</th>
                            <th>Telp</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                        <% datauser.forEach(i => { %>
                            <tr>
                            <td><p><%= i + 1 %></p></td>    
                            <td><p><%= i.nama %></p></td>
                            <td><p><%= i.tgl_lahir %></p></td>
                            <td><p><%= i.alamat %></p></td>    
                            <td><p><%= i.telp %></p></td>
                            <td><p><%= i.status %></p></td>
                            <td>
                              <span>
                                <button type="submit" class="btn btn-warning" name="simpan">EDIT</button>
                              </span>
                              <span>
                                <button type="submit" class="btn btn-danger" name="simpan">DELETE</button>
                              </span>
                            </td>
                            </tr>
                        <% }) %>
                    </thead>
                </table>
            </div>
        </main>
    </body>
</html>