body {
    font-family: sans-serif;
    display: flex;
    background: url('/images/moon.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    overflow: hidden;
}

#form {
    width: 400px;
    margin: 20vh auto 0 auto;
    text-align: center;
    padding: 40px;
    text-align: start;
    background-color: #FFFAFA;
    border-radius: 10px;
    font-size: 12px;

}

#form h1 {
    color: #0f2027;
    font-size: 45px;
    margin-bottom: 60px;
    text-transform: uppercase;
    text-align: center;
}


#form input, button, label{
    width: 300px;
    height: 40px;
    border: none;
    outline: none;
    padding-left: 10px;
    box-sizing: border-box;
    font-size: 20px;
    color: black;
    margin-bottom: 5px;
    text-align: start;
    font-family: Arial;
    border-radius: 7px;
}

#form label{
    color: #0f2027;
}

#form #check{
    height: 20px;
}

#form #label{
    text-align: center;
}




