body {
    font-family: sans-serif;
    display: flex;
    background: url(/images/moon.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    overflow: hidden;
    height: 100vh;
}

.head h1 {
    margin: 20vh auto 0 auto;
    color: hsl(51, 100%, 50%);
    font-size: 45px;
    margin-bottom: 60px;
    text-transform: uppercase;
    text-align: center;
}

.card {
    width: 600px;
    left: 25.7%;
    right: 76.09%;
    background:#D3D3D3;
}

#buttons {
    text-align: center;
    padding: 20px;
}

.btn:active {
    transform: translate(0px, 5px);
    -webkit-transform: translate(0px, 5px);
    box-shadow: 0px 1px 0px 0px;
    }    

.button {
    background-color: 	#00FA9A;
    box-shadow: 3px 5px 5px #888888;
    border-radius: 2px;   
    font-size: 20px;
    font-weight: bold;
    padding: 30px;
    margin: 30px;
}

.button:hover {
    background-color: #88f48a;
    padding: 20px 30px;
}